* {
    background-color: hsla(54, 100%, 92%, 1);
    max-width: 100%;
}


.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 30%;
}

.landing-page-main {
    display: flex;
    gap: 1.5rem;
}

.left-content {
    width: 48%;
    margin: 5% 0 0 2%;
}

.right-content {
    margin: 2% 0 0 10%;
}

.head h5 {
    font-size: 16px;
}

.list-items ul li {
    font-size: 14px;
    font-weight: 500;
}

.landing-page-image {
    width: 90%;
}

.img-details {
    font-size: 14px;
    font-weight: 500;
}

.bottom-text p {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.bottom-img img {
    width: 80%;
    margin-left: 10%;
}

.img-text {
    text-align: center;
    font-weight: 600;
}

.bottom-details {
    text-align: center;
    font-weight: 600;
    border-top: 1px solid hsla(358, 83%, 56%, 1);
}

.details-two p {
    text-align: center;
}

.footer {
   border: 1px solid brown;
    background: hsla(358, 83%, 56%, 1);
    height: 200px;
    width: 100%;

}
.contact{
    margin-top: 100px;
    background: inherit;
    display: flex;
    justify-content: center;
    gap: 20rem;
   
}
.contact a{
    background: inherit;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;

}
